<%- contentFor('header') %>
<%- contentFor('body') %>



<div class="row">
  <% for(var i = 0; i < user.buildings.length; i++){ %>
    <% if(user.buildings[i].type.functionBuilding.name === 'Formation'){ %>
      <div class="col-lg-4 col-xs-12 text-center container-block-build">
        <div class="block-build">
          <h3 class="h3"><%= user.buildings[i].type.name %></h3>
          <span class='circle-level'>
            <i class="fa fa-circle fa-3x"></i>
            <span class="label-level"><%= user.buildings[i].level %></span>
          </span>
          <div class="container-title">
            <img src="images/<%= user.buildings[i].type.image %>" />
          </div>
          <div>
            <span>Prod/h: <%= user.buildings[i].type.prod %></span>
          </div>
          <div>
            <img src="images/<%= user.buildings[i].type.soldier.image %>">

          </div>
          <br>
          <div>
            <div class="row">
              <div class="col-8 offset-2">
                <form action="_________" method='post'>
                  <div class="form-group">
                    <label for="name"><b>Nombre troupe :</b></label>
                    <input type="integer" onchange="" id="soldat" size="10" placeholder="0" name="nbrSoldier" class="form-control" required>
                    <p><%= user.stocks[0].ressource.name %> = $('#soldat') - <%= user.stocks[0].value %></p>
                    <p><script>
                    $('.soldat').innerHTML
                    </script></p>
                  </div>
                  <button type="submit" class="btn btn-success">Engager</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      <% } %>
    </div>





    <style>
      .container-block-build {
        padding: 20px;
      }
      .block-build {
        padding: 15px;
        border: 1px solid black;
        height: 600px;
      }

      .circle-level {
        position: absolute;
        top: 8px;
        right: 8px;
      }

      .label-level {
        padding-top: 4px;
        width: 40px;
        height: 40px;
        text-align: center;
        color: white;
        position: absolute;
        top: 3px;
        right: 0px;
      }
    </style>


      $('#soldat').on('change', function(){
      var valeurInput = $(this).val();
      })