<%- contentFor('header') %>
<%- contentFor('body') %>
<div class="row">
  <div class="col-8 offset-xs-4">
    <div class="grid">
      <% var displayHeight = C.map.displayHeight; var displayWidth = C.map.displayWidth %>
      <% for(var y = displayHeight/2 * -1; y <= displayHeight/2; y++){ %>
        <% for(var x = displayWidth/2 * -1; x <= displayWidth/2; x++){ %>
          <div class="case"><%= x %>/<%= y*-1 %></div>
          <% } %>
          <% } %>
        </div>
      </div>
    </div>


    <style>
      .grid {
        display: grid;
        <% var columns = ""; for(var i = 0; i <= displayWidth; i++){ columns+=" auto" } %>
        grid-template-columns: <%= columns %>;
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
        grid-auto-rows: 1fr;
      }

      .grid > .case {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
      }
    </style>
