<%- contentFor('header') %>
<%- contentFor('body') %>

<div class="row">
  <% for(var i = 0; i < user.buildings.length; i++){ %>
    <% if(user.buildings[i].type.functionBuilding.name === 'Production'){ %>
      <div class="col-lg-4 col-xs-12 text-center container-block-build">
        <div class="block-build">
          <div class='circle-level'>
            <i class="fa fa-circle fa-3x"></i>
            <span class="label-level"><%= user.buildings[i].level %></span>
          </div>
          <div class="container-title">
            <h3 class="h3"><%= user.buildings[i].type.name %></h3>
          </div>
          <div class="container-image">
            <img src="images/<%= user.buildings[i].type.image %>" class="img-fluid" />
          </div>
          <div>
            <span>Production actuelle: <%= user.buildings[i].getValue() %></span><br/><br/>
            <span>Production au prochain niveau: <%= user.buildings[i].getNextValue() %></span><br/><br/>
            <form method="post" action="/build/levelUp">
              <input type="hidden" name="id" value="<%= user.buildings[i].id %>"></input>
              <input type="hidden" name="redirectTo" value="/production"></input>
              <button type="submit" class="btn btn-warning">
                <span>Améliorer pour <%= user.buildings[i].getCostNextLevel() %> <img src='images/<%= user.getStockageBuildByName('Bois').type.ressource.image %>' alt='bois' class='icon-ressource'> ?</span>
              </button>
            </form>
          </div>
        </div>
      </div>
      <% } %>
      <% } %>
    </div>


    <style>
      .container-block-build {
        padding: 20px;
      }
      .block-build {
        padding: 15px;
        border: 1px solid black;
        height: 440px;
      }

      .circle-level {
        position: absolute;
        top: 0px;
        right: 0px;
      }

      .label-level {
        padding-top: 5px;
        width: 40px;
        height: 40px;
        text-align: center;
        color: white;
        position: absolute;
        top: 3px;
        right: 0px;
      }

      .container-image {
        margin-bottom: 25px;
      }

    </style>
