<%- contentFor('header') %>
<%- contentFor('body') %>
<%= JSON.stringify(locals) %>
<div class="alert <%= locals.alertClass %>">
  <strong class="alert-type"><%= locals.type %></strong>
  <span class="alert-message"><%- locals.message %></span>
</div>
Accueil Joueur


<h1> <%= user.name %> </h1>