<%- contentFor('header') %>
<link rel='stylesheet' href='/stylesheets/style.css' />

<%- contentFor('body') %>
<div class="row">
  <div class="col-12">
    <h1 class="h1"><% if(typeof quest == "object"){ %> Edition Quete <% } else { %> Nouvelle Quete <% } %></h1>
    <br/>
                    
    <form method="post" action="/admin/<% if(typeof quest == "object"){ %>edit<% }%>quest">
      <fieldset>
        <div class="form-group">
          <input type="hidden" name="questId" class="form-control" id="questName" <% if(typeof quest == "object"){ %> value="<%= quest.id %>" <% } %>/>
        </div>
        <div class="form-group">
          <label for="questName">Nom de la quete :</label>
          <input type="text" name="questName" class="form-control" id="questName" <% if(typeof quest == "object"){ %> value="<%= quest.name %>" <% } %>/>
        </div>
        <div class="form-group">
          <label for="questXp">Xp de la quete</label>
          <input type="number" name="questXp" class="form-control" id="questXp" <% if(typeof quest == "object"){ %> value="<%= quest.xp %>" <% } %>/>
        </div>
        <div class="form-group">
          <label for="questGold">Gold de la quete</label>
          <input type="number" name="questGold" class="form-control" id="questGold" <% if(typeof quest == "object"){ %> value="<%= quest.gold %>" <% } %>/>
        </div>
        <div class="form-group">
          <label for="questDuration">Duree de la quete</label>
          <input type="date" name="questDuration" class="form-control" id="questDuration" <% if(typeof quest == "object"){ %> value="<%= quest.duration %>" <% } %>/>
        </div>
        <div class="form-group">
          <label for="questDef">Defense de la quete</label>
          <input type="number" name="questDef" class="form-control" id="questDef" <% if(typeof quest == "object"){ %> value="<%= quest.def %>" <% } %>/>
        </div>

      </fieldset>
      <button type="submit" class="btn btn-success"><% if(typeof quest == "object"){ %> Editer <% } else { %> Ajouter <% } %></button>
    </form>
  </div>
</div>
