<%- contentFor('header') %>
<link rel='stylesheet' href='/stylesheets/style.css' />



<%- contentFor('body') %>
<div class="row">
  <div class="col-12">
    <h1 class="h1">Liste des quetes</h1>
    <br/>
    <a href="/admin/quest" class="btn btn-success pull-right" role="button"><i class="fa fa-plus"></i></a>
    <table class='table'>
      <thead>
        <tr id="nameTypeQuests">
          <th>Nom</th>
          <th>Xp</th>
          <th>Gold</th>
          <th>Duration</th>
          <th>Defense</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<quests.length; i++) { %>
          <tr>
            <td><%= quests[i].name %></td>
            <td><%= quests[i].xp %></td>
            <td><%= quests[i].gold %></td>
            <td><%= quests[i].duration %></td>
            <td><%= quests[i].def %></td>
            <td>
              <a href="/admin/editQuest/<%= quests[i].id %>" class="btn btn-warning" role="button"><i class="fa fa-edit"></i></a>
              <a href="/admin/deleteQuest" class="btn btn-danger" role="button"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
