<!DOCTYPE html>
<html>
  <head>
    <title>Create Quest</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


<h1>test</h1>
<table>
    <th>Nom Quete</th>
    <% for(var i=0; i<quests.length; i++) { %>
        
        <tr>
          <td><%= quests[i].name %></td>  
        </tr>
        <tr>
          <td><%= quests[i].xp %></td>
        </tr>
        <tr>
            <td><%= quests[i].gold %></td>
        </tr>
        <tr>
            <td><%= quests[i].duration %></td>
        </tr>
        <tr>
            <td><%= quests[i].def %></td>
        </tr>
    
        <% } %>
</table>


</form>
</body>
</html>
