<%- contentFor('header') %>
<link rel='stylesheet' href='/stylesheets/style.css' />
<%- contentFor('locals.message') %>
<%- contentFor('body') %>
<div class="row">
  <div class="col-12">
    <h1 class="h1">Liste des ressources</h1>
    <br/>
    <a href="/admin/ressource" class="btn btn-success pull-right" role="button"><i class="fa fa-plus"></i></a>
    <table class='table text-center'>
      <thead>
        <tr id="nameTypeRessources">
          <th>Nom</th>
          <th>Description</th>
          <th>Attaque</th>
          <th>Defense</th>
          <th>Cout</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<ressources.length; i++) { %>
          <tr>
            <td><%= ressources[i].name %></td>
            <td><%= ressources[i].description %></td>
            <td><%= ressources[i].prod %></td>
            <td><%= ressources[i].image %></td>
            <td>
              <a href="/admin/editRessource/<%= ressources[i].id %>" class="btn btn-warning" role="button"><i class="fa fa-edit"></i></a>
              <a href="/admin/deleteRessource/<%= ressources[i].id %>" class="btn btn-danger" role="button"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
